@import 'tailwindcss';

/* Accordions */
.accordion-main {
  border: 1 px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}

.accordion-redlist,
.accordion-electric {
  margin-bottom: 7px;
}

summary {
  cursor: pointer;
  font-weight: bold;
  list-style: none; /* Hides the default browser arrow */
  border: 3px solid black;
  padding: 10px;
  border-radius: 12px;
}

details {
  border: 3px solid transparent;
  transition: border 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 7px;
  background-color: #111827; /* Tailwind gray-900 */
  padding: 10px;
  color: #d1d5db; /* Tailwind gray-300 */
}

details[open] {
  border: 2px solid #374151; /* Tailwind gray-700 */
}

/* Optional: Custom arrow indicator */
summary::after {
  content: '▼';
  float: right;
  transition: transform 0.3s ease;
}

details[open] summary::after {
  transform: rotate(180deg);
}

details p {
  margin: 4px 0;
}

details span, details s {
  display: inline;
  background-color: transparent;
}

details s {
  color: #9ca3af; /* Muted color for retired/struck-through items */
  margin-left: 4px;
}

/* Red List */
.highlighted-lc {
  background-color: blue;
  color: white;
}

.highlighted-nt {
  background-color: green;
  color: white;
}

.highlighted-vl {
  background-color: yellow;
  color: black;
}

.highlighted-en {
  background-color: yellow;
  color: black;
}

.highlighted-cr {
  background-color: red;
  color: white;
}

.highlighted-ex {
  background-color: maroon;
  color: white;
}

.highlighted-dd {
  background-color: black;
  color: white;
}

/* Fonts */
@font-face {
  font-family: 'Splatoon1';
  src: url('/src/fonts/Splatoon1.otf') format('opentype');
}

@font-face {
  font-family: 'Splatoon2';
  src: url('/src/fonts/Splatoon2.otf') format('opentype');
}

.Splatoon1 {
  font-family: 'Splatoon1';
}

.Splatoon2 {
  font-family: 'Splatoon2';
}
