.highlighted-lc {
    background-color: blue;
    color: white;
}

.highlighted-nt {
    background-color: green;
    color: white;
}

.highlighted-vl {
    background-color: yellow;
    color: black;
}

.highlighted-en {
    background-color: yellow;
    color: black;
}

.highlighted-cr {
    background-color: red;
    color: white;
}

.highlighted-ex {
    background-color: maroon;
    color: white;
}

.highlighted-dd {
    background-color: black;
    color: white;
}